{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

 {% block stylesheets %}
      <link href="{{ asset('css/app.css') }}" type="text/css" rel="stylesheet" />
      <link href="{{ asset('js/js.css') }}" type="text/javascript" rel="stylesheet" />
  {% endblock %}

{% block body %}

    <h1>Article</h1>
    
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td></td>
            </tr>
            <tr>
                <th>Title</th>
                <td></td>
            </tr>
            <tr>
                <th>Author</th>
                <td></td>
            </tr>
            <tr>
                <th>Participation</th>
                <td></td>
            </tr>
            <tr>
                <th>Contributors</th>
                <td></td>
            </tr>
            <tr>
                <th>Participations contributors</th>
                <td></td>
            </tr>
            <tr>
                <th>Ministerial points</th>
                <td></td>
            </tr>
            <tr>
                <th>Journal</th>
                <td></td>
            </tr>
            <tr>
                <th>Conference</th>
                <td></td>
            </tr>
            <tr>
                <th>Doi</th>
                <td></td>
            </tr>
            <tr>
                <th>Date of publication</th>
                <td></td>
            </tr>
        </tbody>
    </table>
    
{% endblock %}


