{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

 {% block stylesheets %}
      <link href="{{ asset('css/app.css') }}" type="text/css" rel="stylesheet" />
  {% endblock %}

{% block body %}

{% if is_granted('ROLE_USER') %}
    <button><a href="{{ "http://localhost:8000/article" }}" >{{ "Add article" }}</a></button>
{% endif %}
    
{% endblock %}


