{% extends 'base.html.twig' %}

 {% block stylesheets %}
      <link href="{{ asset('css/app.css') }}" type="text/css" rel="stylesheet" />
  {% endblock %}

{% block body %}

<section id="contact">
    <p>If you have any question, please feel free to contact us: gf41590@zut.edu.pl</p>
    <p>We will try to write back as soon as possible.</p>
    
</section>

{% endblock %}
