{% extends 'base.html.twig' %}


{% block title %}Edit Article{% endblock %}

 {% block stylesheets %}
      <link href="{{ asset('css/app.css') }}" type="text/css" rel="stylesheet" />
  {% endblock %}

{% block body %}
    <h1>Edit Article</h1>

    {{ include('article/_form.html.twig', {'button_label': 'Update'}) }}

    <button><a href="{{ path('index') }}">back to list</a></button>

    
{% endblock %}