
{% extends "base.html.twig" %}
{% block title %} Export {% endblock %}
{% block body %}
{% if article is defined %}
    <h3>Articles: </h3>
    <table style="border: 1px solid black; border-collapse: collapse; text-align:center ">
        <thead>
            <tr>
                {% for column in columns %}
                <th style="border: 1px solid black; border-collapse: collapse;  text-align:center ">{{ column }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for article in article %}
            <tr>
            {% for field in article %}
            <td style="border: 1px solid black; border-collapse: collapse;  text-align:center ">{{ field }}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
